.wrap {
  padding: 20px 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modalPlayer {
  display: flex;
  width: 40dvw;
  height: 30dvh;
  background-color: #e4f2ff;
  justify-content: center;
}

.modalEnd {
  display: flex;
  flex-direction: column;
  width: 40dvw;
  height: 30dvh;
  background-color: #e4f2ff;
  justify-content: center;
  align-items: center;
}

.conf {
  width: 100%;
  height: 100%;
}

.playerName {
  font-size: 2rem;
  text-align: center;
  align-self: center;
}

.menuTitle {
  font-size: 2.5rem;
  margin-bottom: 0.75rem;
  padding-left: 15px;
}

.title {
  /* margin: 0 auto; */
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.scoreTable {
  max-width: 1440px;
  display: flex;
  gap: 2rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 20px;
  border: 2px solid #000;
  margin-bottom: 40px;
  text-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  justify-self: center;
}

.themeTable {
  max-width: 1600px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 20px;
  border: 2px solid #000;
  margin-bottom: 40px;
  text-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}

.playerWrap {
  display: flex;
  max-width: 320px;
  gap: 20px;
  border-radius: 20px;
  border: 2px solid #000;
  padding: 1rem;
}

.themeWrap {
  display: flex;
  flex-direction: column;
  width: 272px;
  height: 162px;
  gap: 20px;
  border-radius: 20px;
  border: 2px solid #000;
  /* padding: 1rem; */
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 0.6rem;
}

.moviesWrap {
  display: flex;
  gap: 8px;
  align-self: center;
  justify-content: space-between;
}

.btn {
  padding: 10px 15px;
  border-radius: 50%;
}

.btn:disabled {
  padding: 10px 9px;
  background-color: #c4f2ffaa;
  border-color: #000a;
}
