.qrcode {
  margin-bottom: 30px;
}

.menuTitle {
  font-size: 2.5rem;
  margin-bottom: 0.75rem;
}

.title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 12rem;
}

.wrap {
  display: flex;
  gap: 30px;
  align-items: baseline;
  justify-content: center;
}

.qrPlayer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
